@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Open+Sans:wght@300;400&display=swap");

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	font-size: 16px;
}

.parent {
	/* background: cyan; */
	display: grid;
	grid-template-rows: auto 1fr auto auto;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.child {
	margin: 5px;
	padding: 1rem;
	background: lightpink;
	font-size: 2rem;
	text-align: center;
}

.header {
	background-image: url("src/header.jpg");
	background-size: cover;
	background-position: 55% 50%;
	background-repeat: no-repeat;
	height: 15vh;
	width: 100vw;
	max-width: 100%;
	margin: auto;
}

@media (min-width: 40rem) {
	.header {
		background-size: cover;
		align-self: center;
		background-position: 50% 50%;
		padding: 1rem;
	}
}

/* Parent Div of Info Text & Image */
.main {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-rows: auto min(400px, 600px) auto;
	max-width: 100vw;
	background: #fdfdff;

	align-items: center;
	justify-content: center;
}

.container-info__preface {
	font-size: 16px;
	margin: 5px;
	background: #fdfdff;
	max-width: 80vw;
	margin: 0 auto;
}

.container-info__auction {
	font-size: 16px;
	margin: 5px;
	background: #fdfdff;
	max-width: 80vw;

	margin: 0 auto;
}

.container-info__text {
	font-size: 16px;
	margin: 5px;
	background: #fdfdff;
	max-width: 80vw;

	margin: 0 auto;
}

.container-info__img {
	background-image: url("src/cta.jpg");
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	max-width: 90vw;
	width: calc(100vw - 0.8rem);
	min-height: 50vh;
	margin: 0 auto;
}

.container-payment {
	padding: 2rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background-color: #dadada;

	text-align: center;
	width: 100vw;
	min-height: 35vh;
	/* visibility: hidden; */
}

#title__cta {
	text-align: center;
	text-transform: capitalize;
	width: 100vw;
	text-align: center;
	/* margin: 0.5rem; */
	padding: 1rem;
	font-family: "Open Sans", sans-serif;
}

@media (min-width: 40rem) {
	#title__cta {
		text-align: center;
		text-transform: capitalize;
		width: 100%;
		text-align: center;
		margin-top: 0.4rem;
		padding: 0;
		font-family: "Open Sans", sans-serif;
	}

	.container-payment {
		padding: 0;
		height: 100%;
	}
}

#banking-details {
	background: #c6c5b9;
	display: inline-block;
	padding: 1rem;
	margin: 1rem;
	-ms-flex-preferred-size: 280px;
	flex-basis: 280px;
	line-height: 19px;
	box-shadow: 2px 2px 2px 2px rgb(194, 194, 194);
}

.submission__btn {
	color: #494949 !important;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 1rem;
	margin-bottom: 1rem;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.submission__btn:hover {
	color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
}

.open {
	visibility: visible;
}
