@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Open+Sans:wght@300;400&display=swap");

html {
	box-sizing: border-box;
	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	font-size: 16px;
	overflow-x: hidden;
}

.parent {
	margin: 0;
	padding: 0;
	width: 100%;
}

.header_img {
	object-fit: cover;
	max-width: 100vw;
	max-height: 100%;
	margin: 0 auto;
	display: block;
}

@media (min-width: 70rem) {
	.header {
		height: 22vh;
		align-self: center;
	}

	.header_img {
		width: 100vw;
		max-width: 100%;
		height: 25vh;
	}
}

/* Parent Div of Info Text & Image */
.main {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-rows: 200px 1fr 400px 100px;
	place-items: center;
	max-width: 100vw;
	background: #fdfdff;
	font-family: "Open Sans";
}

@media (min-width: 70rem) {
	.main {
		max-width: 100vw;
		justify-content: center;
		grid-template-columns: 500px 500px;
		grid-template-rows: 500px 300px;
		column-gap: 2rem;
	}

	.container-info__img {
		grid-column: 1;
		grid-row: 1;
		width: 500px;
		height: 500px;
		display: block;
	}

	.container-info__preface {
		grid-column: 2;
		margin: 0;
		max-width: 200px;
	}

	#title__cta {
		text-align: center;
		text-transform: capitalize;
		width: 100%;
		text-align: center;
		margin-top: 0.4rem;
		padding: 0;
		font-family: "Open Sans", sans-serif;
	}

	.container-payment {
		padding: 0;
		margin: 0;
		height: 450px;
	}

	.submission__btn {
		margin: 0;
	}
}

.container-info__preface {
	font-size: 16px;
	margin: 5px;
	background: #fdfdff;
	max-width: 80vw;
	margin: 0 auto;
}

.container-info__auction {
	font-size: 16px;
	margin: 5px;
	background: #fdfdff;
	max-width: 80vw;
	margin: 0 auto;
	text-align: center;
}

.container-info__text {
	font-size: 16px;
	margin: 5px;
	background: #fdfdff;
	max-width: 80vw;
	margin: 0 auto;
}

.container-info__img {
	object-fit: contain;
	width: 100%;
	padding: 1rem;
}

.container-payment {
	padding: 2rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	background-color: #dadada;
	border: 1px solid rgba(0, 0, 0, 0.466);
	text-align: center;
	font-family: "Open Sans";

	width: 100vw;
	min-height: 35vh;
}

#title__cta {
	text-align: center;
	text-transform: capitalize;
	width: 100vw;
	text-align: center;

	padding: 1rem;
	font-family: "Open Sans", sans-serif;
}

#banking-details {
	background: #c6c5b9;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin: 1rem;
	-ms-flex-preferred-size: 280px;
	flex-basis: 280px;
	line-height: 19px;
	height: 140px;
	box-shadow: 2px 2px 2px 2px rgb(194, 194, 194);
}

.submission__btn {
	color: #494949 !important;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 1rem;
	margin: 1.4rem;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.submission__btn:hover {
	color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
}

.open {
	visibility: visible;
}
